<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="postgreSql" type="Affecto.EntityFramework.PostgreSql.PostgreSqlConfiguration, Affecto.EntityFramework.PostgreSql" requirePermission="false" />
  </configSections>

  <postgreSql>
    <schemas>
      <schema key="TestSchema" value="SomeSchemaName" />
      <schema key="AnotherTestSchema" value="YetSomeSchemaName" />
    </schemas>
  </postgreSql>
</configuration>